#top-boxes, #bottom-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tb, .bb {
    flex-basis: calc(25% - 30px); /* Adjust this value to control the width of each box */
    margin-top: 15px;
    padding: 15px;
    background-color: #312d40;
    color: white;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
}